@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
	box-size: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
header {
	display: relative;
	width: 100%;
	display: grid;
	place-items: center;
	height: 4rem;
}
footer {
	display: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

section {
	min-height: 80vh;
}

h1,
h2 {
	font-family: "Markazi Text";
}
h1 {
	font-size: 64px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-family: "Karla";
}
p {
	font-famile: "Karla";
	font-size: 18px;
	line-height: 1.5;
	max-width: 65ch;
}

nav a {
	font-weight: bolder;
	text-transform: capitalize;
	font-size: 16px;
}
